@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    background-color: white;
  }

html {
  scroll-snap-type: y mandatory;
  height: 100vh; 
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

.height {
  height: calc(100vh - 20px);
}

.width {
  width: 20%;
  background-repeat: repeat-y;
}

.grassy{
  background-image: url("./assets/images/grass.svg");
  background-repeat: repeat-x;
  /* height: 9rem; */
  width: 100%;;
}

/* .scroll-container {
  height: 100vh; 
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
} */

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: rgb(10, 2, 2);
  transform-origin: 0%;
  z-index: 99;
}

.trans {
  translate: 120px 20px;
}

.sub-text:hover:nth-child(even) {
  transform: translateX(100px) translateY(-5px) scale(1) translateZ(0px) !important;
  transition: transform 0.2s ease 0s, border-radius ease .3s !important;
  border-top-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.sub-text {
  transition: transform 0.2s ease 0s, border-radius ease .3s !important;
  font-weight: bolder;
}

.sub-text:hover:nth-child(odd) {
  transform: translateX(-100px) translateY(-5px) scale(1) translateZ(0px) !important;
  transition: transform 0.2s ease 0s, border-radius ease .3s !important;
  border-top-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}